defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: cimg/node:18.3.0

version: '2.1'
whitelist: &whitelist
  paths:
    - dist/*
    - node_modules/*
    - src/*
    - package.json
    - README.md
    - tsconfig.json
jobs:
  checkout:
    <<: *defaults

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - persist_to_workspace:
          root: ~/repo
          <<: *whitelist
  build:
    <<: *defaults

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Build JS to Dist
          command: npm run build

      - persist_to_workspace:
          root: ~/repo
          <<: *whitelist

  test:
    <<: *defaults

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Test TypeScript code
          command: "ls && npm test"

      - persist_to_workspace:
          root: ~/repo
          <<: *whitelist

workflows:
  test_suite:
    jobs:
      - checkout
      - build:
          requires:
            - checkout
      - test:
          requires:
            - build
